.btn {
    width: auto;
    height: 50px;
    background-color:#0093ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}


@media (max-width : 600px) {
    .btn  {
        height: 40px;
        font-size: 20px ;
    }}